body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
}

.calculator {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.calculator-screen {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
    font-size: 1.5rem;
    border: none;
    background-color: #f3f3f3;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 40px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    cursor: pointer;
}

button:hover {
    background-color: #e1e1e1;
}

.operator {
    background-color: #ff8c00;
    color: #fff;
}

.operator:hover {
    background-color: #ff7b00;
}

.equal-sign {
    grid-column: span 2;
}